{
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "react"
    ],
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 11,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "react/prop-types": 0,
        "@typescript-eslint/explicit-module-boundary-types": 0,
        "@typescript-eslint/no-empty-function": [
            "off"
        ],
        "@typescript-eslint/ban-types": 0
    },
    "ignorePatterns": [
        "**/*.spec.ts",
        "**/*.spec.tsx",
        "node_modules/"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}